@model ConsumoPesquisa.Models.Pesquisa

@{
    ViewData["Title"] = "Index";
}

<form>
    <input type="text" name="pesquisa"/>
    <button type="submit">Enviar</button>
</form>

<h5>@TempData["Titulo"]</h5>
<a href="https://@TempData["link"]" target="_blank">@TempData["link"]</a>

